    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CleverHiret</title>
        <link rel="stylesheet" href="/PO/po-studentList/po-studentList.css">
        <!-- <link rel="stylesheet" href="po-studentList.css"> -->
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type="text/css">
        <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
    <div class="topMenu">
        <div class="cleverhire">
            <p><a href="/index.html">CleverHire</a></p>
        </div>
        <!-- NAVIGATION -->
        <nav>
            <div class="list">
                <a href="">Placement Officer: <%= po.name %></a>
            </div>
            <div class="soc-icon">
                <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
        </nav>
    </div>
    <div class="main-body">
        <!-- LEFT SECTION OF PAGE  -->
        <section class="lmenu">
            <div class="dp">
                <img src="<%= locals.profile %>" alt="">
            </div>
            <div class="lmenu-items-con">
                <div class="lmenu-items">
                    <li><a class="d" href="/po/dashboard">Dashboard</a></li>
                    <li><a class="pnj" href="/po/postjobs">Post New Job</a></li>
                    <li><a class="aj" href="/po/approveJobs">Approve Jobs</a></li>
                    <li><a class="lj" href="/po/listedjobs">Listed Jobs</a></li>
                    <li><a class="sl" href="/po/studentlist">Student List</a></li>
                    <li><a class="l" href="/LOGOUT">Logout</a></li>
                </div>
            </div>
        </section>
        <!-- CENTRE SECTION OF PAGE -->
        <div class="cmenu">
            <section class="content">
                
                    <div class="filter">
                        <form id="filter-form">
                            <!-- <label for="branch">Select Branch:</label> -->
                            <select id="yearOfStudy" name="yearOfStudy">     
                                <option >Select year of Study</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <select id="branch" name="branch">
                                <option >Select Branch</option>
                                <option value="Computer Science & Engineering">Computer Science & Engineering</option>
                                <option value="Electronics & Communication Engineering">Electronics & Communication Engineering</option>
                                <option value="Mechanical Engineering">Mechanical Engineering</option>
                                <option value="Civil Engineering">Civil Engineering</option>
                                <option value="Electrical & Electronics Engineering">Electrical & Electronics Engineering</option>
                                <option value="Information Technology">Information Technology</option>
                            </select>
                            <!-- <label for="cgpa">Select CGPA Range:</label> -->
                            <select id="selectcgpa" name="cgpa">
                                <option >Select CGPA</option>
                                <option value="0-5">0 - 5</option>
                                <option value="5-7">5 - 7</option>
                                <option value="7-9">7 - 9</option>
                                <option value="9-10">9 - 10</option>
                            </select>
                            <br>
                            <button type="submit">FILTER</button>
                        </form>
                    </div>
                    <div class="tableContainer">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Name of Student</th>
                            <th>Year of Study</th>
                            <th>Branch</th>
                            <th>Current CGPA</th>
                            <th>Application</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% students.forEach((student, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= student.name %></td>
                            <td><%= student.ugyear %></td>
                            <td><%= student.department %></td>
                            <td><%= student.cgpa %></td>
                            <!-- Pass the index to the function -->
                            <td class="buttonContainer"><button class="view-button" onclick="showStudentDetails(<%= index %>)">View</button></td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>

                <!-- application form sent by student  -->
                <div class="both-info" id="infoPopup">
                    <div class="closeButton" id="closeButton">
                        <h4>x</h4>
                    </div>
                    <div class="stud-info">
                        <!-- STUDENT PERSONAL INFO -->
                        <div class="stud-per-info">
                            <div class="info-top">
                                <div class="per-info-title">
                                    <h5>Personal Info</h5>
                                </div>
                            </div>
                            <div class="infoFetchContainer">
                                <div class="namepic">
                                    <div class="name">
                                        <h2 id="name">name</h2>
                                    </div>
                                    <div class="dp">
                                        <img id="profile" src="" alt="dp">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label">
                                        <h6>Address</h6>
                                    </div>
                                    <div class="value">
                                        <!-- FOR 3 ADDRESS LINE -->
                                        <h6 id="address1"></h6>
                                        <h6 id="address2"></h6>
                                        <h6 id="address3"></h6>
                                    </div>
                                </div>
                                <div class="row" id="evenDiv">
                                    <div class="label">
                                        <h6>email</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="email"></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label">
                                        <h6>phone</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="phone"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- STUDENT ACADEMIC INFO -->
                        <div class="stud-aca-info">
                            <div class="info-top">
                                <div class="aca-info-title">
                                    <h5>Academic Info</h5>
                                </div>
                            </div>
                            <div class="infoFetchContainer">
                                <div class="row">
                                    <div class="label">
                                        <h6>Institute</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="institute"></h6>
                                        <h6 id="district"></h6>
                                        <h6 id="state"></h6>
                                        <h6 id="country"></h6>
                                    </div>
                                </div>
                                <div class="row"  id="evenDiv">
                                    <div class="label">
                                        <h6>Year of Study</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="ugyear"></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label">
                                        <h6>Current CGPA</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="cgpa"></h6>
                                    </div>
                                </div>
                                <div class="row" id="evenDiv">
                                    <div class="label">
                                        <h6>mock test score</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="mocktest"></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label">
                                        <h6>mock interview score</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="fluency"></h6>
                                    </div>
                                </div>
                                <div class="row" id="evenDiv">
                                    <div class="label">
                                        <h6>internships</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="internships"></h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="label">
                                        <h6>Soft Skills</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="softskills"></h6>
                                    </div>
                                </div>
                                <div class="row" id="evenDiv">
                                    <div class="label">
                                        <h6>Hard Skills</h6>
                                    </div>
                                    <div class="value">
                                        <h6 id="hardskills"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="popupWrapper"></div>
    <script>
    document.getElementById('filter-form').addEventListener('submit', async function(event) {
    event.preventDefault();
    
    const yearOfStudy = document.getElementById('yearOfStudy').value;
    const branch = document.getElementById('branch').value;
    const cgpa = document.getElementById('selectcgpa').value

    // Create an object to store selected filter options
    const filterOptions = {};

    // Add selected values to the filterOptions object if they are not default
    if (yearOfStudy !== 'Select year of Study') {
        filterOptions.yearOfStudy = yearOfStudy;
    }
    if (branch !== 'Select Branch') {
        filterOptions.branch = branch;
    }
    if (cgpa !== 'Select CGPA') {
        filterOptions.cgpa = cgpa;
    }

    try {
        const response = await fetch('/filterStudents', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(filterOptions) // Include filtered options in the request body
        });

        if (!response.ok) {
        throw new Error('Failed to fetch data');
        }

        const students = await response.json();
        // Update the student list on the frontend with the filtered data
        updateStudentList(students);
    } catch (error) {
        console.error('Error:', error);
    }
    });


    function updateStudentList(students) {
    const studentListContainer = document.querySelector('.tableContainer'); // Target the container div instead of the table element
    // Clear previous student list
    studentListContainer.innerHTML = '';

    if (students.length === 0) {
        studentListContainer.innerHTML = '<h3 style="color:red">No students found.</h3>';
        return;
    }

    const table = document.createElement('table');
    table.classList.add('table');

    // Create table header
    const tableHeader = document.createElement('thead');
    tableHeader.innerHTML = `
        <tr>
        <th>Sl.No</th>
        <th>Name of Student</th>
        <th>Year of Study</th>
        <th>Branch</th>
        <th>Current CGPA</th>
        <th>Application</th>
        </tr>
    `;
    table.appendChild(tableHeader);

    // Create table body
    const tableBody = document.createElement('tbody');
    students.forEach((student, index) => {
        const row = document.createElement('tr');
        row.innerHTML = `
        <td>${index + 1}</td>
        <td>${student.name}</td>
        <td>${student.ugyear}</td>
        <td>${student.department}</td>
        <td>${student.cgpa}</td>
        <td class="buttonContainer"><button class="view-button" onclick="showStudentDetails(${student.idstudent})">View</button></td>
        `;
        tableBody.appendChild(row);
    });
    table.appendChild(tableBody);

    // Append table to the container
    studentListContainer.appendChild(table);
    }


    function showStudentDetails(idstudent) {
        const viewButtons = document.querySelectorAll(".view-button");
        const infoPopupDiv = document.getElementById("infoPopup");
        const popupWrapper = document.getElementById("popupWrapper");
    // Get the student details from the students array
    var students = <%- JSON.stringify(students) %>;
    var student = students.find(student => student.idstudent === idstudent);
    var softskillsArray = JSON.parse(student.softskills);
    var hardskillsArray = JSON.parse(student.hardskills);
    var profile = `../../images/${student.photo}`;
    // Populate the form fields with the student details
    document.getElementById('profile').src = profile;
    document.getElementById('name').innerText = student.name;
    document.getElementById('address1').innerText = student.address1;
    document.getElementById('address2').innerText = student.address2;
    document.getElementById('address3').innerText = student.address3;
    document.getElementById('email').innerText = student.email;
    document.getElementById('phone').innerText = student.phone;
    document.getElementById('institute').innerText = student.institute;
    document.getElementById('district').innerText = student.district;
    document.getElementById('state').innerText = student.state;
    document.getElementById('country').innerText = student.country;
    document.getElementById('ugyear').innerText = student.ugyear;
    document.getElementById('cgpa').innerText = student.cgpa;
    document.getElementById('mocktest').innerText = student.mocktest_score;
    document.getElementById('fluency').innerText = student.fluency_score;
    document.getElementById('internships').innerText = student.internships;
    document.getElementById('softskills').innerText = softskillsArray;
    document.getElementById('hardskills').innerText = hardskillsArray;
    // Show the info popup
    infoPopupDiv.style.display = "block";
    popupWrapper.style.display = "block";
}

        document.addEventListener('DOMContentLoaded', function() {

            const viewButtons = document.querySelectorAll(".view-button");
            const infoPopupDiv = document.getElementById("infoPopup");
            const popupWrapper = document.getElementById("popupWrapper");

            

            const closeButton = document.getElementById("closeButton");
            closeButton.addEventListener("click", function() {
                infoPopupDiv.style.display = "none";
                popupWrapper.style.display = "none";
            });
        });
    </script>
    </body>
    </html>
