<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CleverHiret</title>
            <!-- ALERT -->
            <!-- <link rel="stylesheet" href="/PO/po-dashboard/po-dashboard.css"> -->
            <link rel="stylesheet" href="/RC/rc-dashboard/rc-dashboard.css">
            <link rel="stylesheet" href="rc-dashboard.css">
            <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type="text/css">
            <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>
        <body id="body">
            <div class="topMenu">
                <div class="cleverhire">
                    <p><a href="/index.html">CleverHire</a></p>
                </div>
            
            <!-- NAVIGATION -->
                <nav>
                    <div class="list">
                        <!-- <a href="">Recruiting Company: <%= locals.comp.name %></a> -->
                        <a href="">Recruiting Company: <%= locals.comp.name %></a>
                        <!-- <a href="">Home</a> -->
                        <!-- <a href="">About US</a> -->
                        <!-- <a href="">Listed Jobs</a> -->
                        <!-- <a href="">Contact</a> -->
                    </div>
                    <div class="soc-icon">
                        <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </nav>
        
            </div>
            <div class="main-body">
                <!-- LEFT SECTION OF PAGE  -->
                <section class="lmenu">
                    <div class="dp">
                        <!-- <i class="fa-solid fa-user-graduate"></i> -->
                        <img src="<%= locals.profile %>" alt="dp">
                    </div>
                    <div class="lmenu-items-con">
                        <!-- <div class="lmenu-items-icon">
                            <i class="fa-solid fa-chart-line"></i>
                             <i class="fa-solid fa-chart-line"></i>
                            <i class="fa-solid fa-book-open-reader"></i>
                            <i class="fa-solid fa-people-group"></i>
        
                        </div> -->
                        <div class="lmenu-items">
                            <li><a class="d" href="/comp/dashboard">Dashboard</a></li>
                            <li><a class="pnj" href="/comp/postjobs">Post New Job</a></li>
                            <li><a class="lj" href="/comp/listedjobs">Listed Jobs</a></li>
                            <li><a class="sl" href="/comp/appliedStudentList">Student List</a></li>
                            <li><a class="l" href="/LOGOUT">Logout</a></li>
                        </div>
                    </div>
                </section>
                <!-- CENTRE SECTION OF PAGE -->
                <div class="cmenu" id="cmenu">
                    <section class="content">

                        <div class="leftDiv">
                            <div class="row1">
                                <div class="welcomeDashboard">
                                    <div class="name">
                                        <h1 class="welcome">Welcome </h1>
                                        <h1 class="welcomeName"><%= locals.comp.name %></h1>
                                    </div>
                                    <div class="po">
                                        <!-- ALERT OPTIONAL -->
                                        <!-- <h2>Innovating Solutions for Tomorrow's Challenges</h2> -->
                                        <!-- <h2>Recruiting Company,<%= locals.tagline %></h2> -->
                                    </div>
                                </div>
                            </div>
                            <!-- STUDENT PERSONAL INFO -->
                            <div class="po-details">
                                <div class="info-top">
                                    <div class="per-info-title">
                                        <h2 id="heading">About Company</h2>
                                    </div>
                                    <div>
                                        <!-- ALERT -->
                                        <a onclick="window.location.href='/comp/edit'" ><button class="edit-button" id="edit-button">Edit</button></a>
                                    </div>
                                </div>
                                <div class="infoFetchContainer">
                                    <div class="section1">
                                        <div class="row">
                                            <div class="label">
                                                <h6>Address</h6>
                                            </div>
                                            <div class="value">
                                                <!-- FOR 3 ADDRESS LINE -->
                                                <h6><%= locals.comp.name %></h6>
                                                <h6><%= locals.comp.address1 %></h6>
                                                <h6><%= locals.comp.address2 %></h6>
                                                <h6><%= locals.comp.address3 %></h6>
        
                                                <!-- reg formil 3 adress line nd -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="label">
                                                <h6>Company Email</h6>
                                            </div>
                                            <div class="value">
                                                <h6><%= locals.comp.email %></h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section2">
                                        <div class="row">
                                            <div class="label">
                                                <h6>Company Website</h6>
                                            </div>
                                            <div class="value">
                                                <h6><%= locals.comp.url %></h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="label">
                                                <h6>Point of contact</h6>
                                            </div>
                                            <div class="value">
                                                <h6><%= locals.comp.contactName %></h6>
                                                <h6><%= locals.comp.contactEmail %></h6>
                                                <h6><%= locals.comp.phone %></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                        <section class="rightDiv">
                            <div class="latestContainer">
                                <div id="heading">recently added jobs</div>
                                <div class="text"><%= locals.lastAddedJob.company %> - <%= locals.lastAddedJob.post %></div>
                                <button class="view" onclick="window.location.href='/comp/listedjobs'">View</button>
                            </div>
                            <div class="countContainer">
                                <div class="container1">
                                    <div class="countBox">
                                        <div id="heading">No of Offers Given</div>
                                        <div class="count"><%= locals.jobsCount %></div>
                                    </div>
                                    <div class="countBox">
                                        <div id="heading">No of Applications</div>
                                        <div class="count"><%= locals.studInstCount.studentCount %></div>
                                    </div>
                                    <div class="countBox">
                                        <div id="heading">No of Connected Institutes</div>
                                        <div class="count"><%= locals.studInstCount.uniqueInstitutesCount %></div>
                                    </div>
                                </div>
                                
                                <!-- <div class="container2">
                                </div> -->
                               
                                
                            </div>
                        </section>
                    </section>
                </div>
                
            </div>
        </body>
</html>