<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\RESUME GENERATION\RESUME DISPLAY\resume_template.css">
    <!-- <link rel="stylesheet" href="resume_template.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
    <title>CV</title>
</head>
<body>
    <div id="header">
        <img src="<%= locals.profile %>" alt="Your Photo">
        <div id="cv-head">
            <h1><%= student.name %></h1>
            <!-- <h2>Technical Student</h2> -->
        </div>
    </div>
   
    <div id="cv">
        <div id="bottom">
            <div id="cv-left">
                <div id="section">
                    <h2>profile</h2>
                    <p>A motivated and detail-oriented technical student currently pursuing B.Tech with a passion for [mention your area of interest or specialization]. Equipped with strong academic background in [mention relevant courses or subjects you've excelled in, e.g., programming languages, algorithms, etc.], I am eager to apply my theoretical knowledge to real-world challenges.</p>
                </div>
                <div id="section" >
                    <h2>projects and experiences</h2>
                    <!-- <ul>
                        <li>Robotic arm @ IIT Madrass</li>
                    </ul> -->
                    <ul>
                        <li class="project-li">
                            <h5><%= details.project1 %></h5>
                            <p><%= details.despro1 %></p>
                        </li>
                        <li class="project-li">
                            <h5><%= locals.details.project2 %></h5>
                            <p><%= locals.details.despro2 %></p>
                        </li>
                    </ul>
                </div>
                <div id="section">
                    <h2>Achievements</h2>
                    <ul>
                        <li><%= details.Achievements %></li>
                    </ul>
                </div>
                <!-- <div id="section">
                    <h2>internships</h2>
                    <p>Intern @TCS Carriers</p>
                    <p>june 2023-july 2023</p>
                </div> -->
                <div id="section">
                    <h2>educational info</h2>
                    <ul>
                        <li>
                            <h5>Bachelor of Information Technology : 2020-24 :<%= student.cgpa %>%</h5>
                            <p><%= student.institute %></p>
                        </li>
                        <li>
                            <h5>HSE: <%= details.hseyear %>  :  <%= details.hseper %>%</h5>
                            <p><%= details.hseinstitute %></p>
                        </li>
                        <li>
                            <h5>SSLC: <%= details.sslcyear %> : <%= details.sslcper %>%</h5>
                            <p><%= details.sslcinstitute %></p>
                        </li>
                </div>

                <div id="section">
                    <h2>references</h2>
                    <h5>Prof.Sanu c</h5>
                    <p>Assistant professor of</p>
                    <p>Dept.of Information Technology</p>
                    <p>GEC IDUKKI</p>
                    <p>sanuc@gecidukki.ac.in</p>
                    <!-- <p>prof.Sanu c</p> -->
                    <!-- <p>Assistant professor GEC Idukki</p> -->
                </div>
                <div id="section">
                    <h5>Prof.Rejin R</h5>
                    <p>Assistant professor of</p>
                    <p>Dept.of Information Technology</p>
                    <p>GEC IDUKKI</p>
                    <p>rejinr@gecidukki.ac.in</p>
                </div>
            </div>
            <div id="cv-right">
                <div id="section">
                    <h2>Technical Skills</h2>
                    <ul>
                        <% hardskillsArray.forEach(item => { %>
                            <li><%= item %></li>
                        <% }); %>
                    </ul>
                </div>
                <div id="section">
                    <h2>soft skills</h2>
                    <ul>
                        <% softskillsArray.forEach(item => { %>
                            <li><%= item %></li>
                        <% }); %>
                    </ul>
                </div>
                <!-- <div id="section">
                    <h2>Languages</h2>
                    <ul>
                        <li>English</li>
                        <li>Malayalam(native)</li>
                        <li>Tamil</li>
                    </ul>
                </div> -->
                <div id="section">
                    <h2>hobbies and interests</h2>
                    <ul>
                        <% hobbies.forEach(item => { %>
                            <li><%= item %></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="contact">
                    <h2>Contact</h2>
                    <div class="contact-icons">
                        <i class="fa-solid fa-envelope"></i>
                        <p><%= student.mail %></p>
                </div>
                <div class="contact-icons">
                    <i class="fa-solid fa-phone"></i>
                    <p><%= student.phone %></p>
                </div>
                <!-- LINKEDIN -->
                <div class="contact-icons">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <p><%= details.linkedin %></p>
                </div>
                <!-- PORTFOLIO WEBSITE LINK -->
                <div class="contact-icons">
                    <i class="fa-solid fa-user-tie"></i>
                    <p><%= locals.details.portfolio %></p>
                </div>
                <div class="contact-icons">
                    <i class="fa-solid fa-location-dot"></i>
                    <div class="addressBox">
                        <p><%= student.address1 %></p>
                        <p><%= student.address2 %></p>
                    <p><%= student.address3 %></p>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
