<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CleverHire</title>
            <link rel="stylesheet" href="\std-dashboard\stdInfoEdit\stdInfoEdit.css">
            <!-- <link rel="stylesheet" href="stdInfoEdit.css"> -->
            <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type="text/css">
            <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>
        <body id="body">
            <div class="topMenu">
                <div class="cleverhire">
                    <p><a href="/index.html">CleverHire</a></p>
                </div>
            
            <!-- NAVIGATION -->
                <nav>
                    <div class="list">
                        <a href="">Student: <%= student.name %></a>
                        <!-- <a href="">Home</a> -->
                        <!-- <a href="">About US</a> -->
                        <!-- <a href="">Listed Jobs</a> -->
                        <!-- <a href="">Contact</a> -->
                    </div>
                    <div class="soc-icon">
                        <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </nav>
        
            </div>
            <div class="main-body">
                <!-- LEFT SECTION OF PAGE  -->
                <section class="lmenu">
                    <div class="dp">
                        <!-- <i class="fa-solid fa-user-graduate"></i> -->
                        <img src="<%= locals.profile %>" alt="dp">
                    </div>
                    <div class="lmenu-items-con">
                        <!-- <div class="lmenu-items-icon">
                            <i class="fa-solid fa-chart-line"></i>
                             <i class="fa-solid fa-chart-line"></i>
                            <i class="fa-solid fa-book-open-reader"></i>
                            <i class="fa-solid fa-people-group"></i>
        
                        </div> -->
                        <div class="lmenu-items">
                            <li><a class="d" href="/student/dashboard">Dashboard</a></li>
                            <li><a class="ei" href="/student/editinfo">Edit Info</a></li>
                            <li><a class="anj" href="/student/applynewjob">Apply New Job</a></li>
                            <li><a class="aj" href="/student/appliedjobs">Applied Jobs</a></li>
                            <li><a class="mt" href="/student/mocktest">Mock Test</a></li>
                            <li><a class="mi" href="/student/mockinterview">Mock Interview</a></li>
                            <li><a class="cv" href="/student/resume">Create Resume</a></li>
                            <li><a class="l" href="/LOGOUT">Logout</a></li>
                        </div>
                    </div>
                </section>
                <!-- CENTRE SECTION OF PAGE -->
                <div class="cmenu" id="cmenu">
                    <section class="content">
                        <!-- FORM SECTION  -->
                        <form onsubmit="onSubmit()" action="/edit/student" method="post">
                            <!-- BACK BUTTON -->
                            <div class="back">
                                <a onclick="window.location.href='/student/dashboard'"> <p> < </p></a>
                            </div>
                            <h2>Edit your informations</h2>
                            <div class="formSection">
                                <div class="formSection1">
                                    <label for="name">Full Name:</label>
                                    <input type="text" id="name" name="name" value="<%= student.name %>">
                        
                                    <label for="phone">Phone Number:</label>
                                    <input type="tel" id="tel" name="phone" value="<%= student.phone %>">
                        
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" value="<%= student.email %>">
                                    <label for="address">Address Line 1:</label>
                                    <input type="text" id="address1" name="address1" value="<%= student.address1 %>">
                                    <label for="address">Address Line 2:</label>
                                    <input type="text" id="address2" name="address2" value="<%= student.address2 %>">
                                    <label for="address">Address Line 3:</label>
                                    <input type="text" id="address3" name="address3" value="<%= student.address3 %>">

                                    <label for="country">Country</label>
                                    <select name="country" id="country">
                                        <option value="India" selected>India</option>
                                    </select>
                                
                                </div>
                                <div class="formSection2">
                                    
                                    <label for="state">State</label>
                                    <select id="states" name="state">
                                        <!-- <option value="" disabled selected>Select a state</option> -->
                                        <option value="Kerala" selected>Kerala</option>
                                        <!-- <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option> -->
                                    </select>

                                    <label for="district">District</label>
                                    <select id="districts" name="district">
                                        <option value="Alappuzha" <%= student.district === 'Alappuzha' ? 'selected' : '' %>>Alappuzha</option>
                                            <option value="Ernakulam" <%= student.district === 'Ernakulam' ? 'selected' : '' %>>Ernakulam</option>
                                            <option value="Idukki" <%= student.district === 'Idukki' ? 'selected' : '' %>>Idukki</option>
                                            <option value="Kannur" <%= student.district === 'Kannur' ? 'selected' : '' %>>Kannur</option>
                                            <option value="Kasaragod" <%= student.district === 'Kasaragod' ? 'selected' : '' %>>Kasaragod</option>
                                            <option value="Kollam" <%= student.district === 'Kollam' ? 'selected' : '' %>>Kollam</option>
                                            <option value="Kottayam" <%= student.district === 'Kottayam' ? 'selected' : '' %>>Kottayam</option>
                                            <option value="Kozhikode" <%= student.district === 'Kozhikode' ? 'selected' : '' %>>Kozhikode</option>
                                            <option value="Malappuram" <%= student.district === 'Malappuram' ? 'selected' : '' %>>Malappuram</option>
                                            <option value="Palakkad" <%= student.district === 'Palakkad' ? 'selected' : '' %>>Palakkad</option>
                                            <option value="Pathanamthitta" <%= student.district === 'Pathanamthitta' ? 'selected' : '' %>>Pathanamthitta</option>
                                            <option value="Thiruvananthapuram" <%= student.district === 'Thiruvananthapuram' ? 'selected' : '' %>>Thiruvananthapuram</option>
                                            <option value="Thrissur" <%= student.district === 'Thrissur' ? 'selected' : '' %>>Thrissur</option>
                                            <option value="Wayanad" <%= student.district === 'Wayanad' ? 'selected' : '' %>>Wayanad</option>
                                    </select>

                                    <!-- <label for="college">Educational Institute</label>
                                    <select id="college" name="institute">
                                        <option value="" disabled selected>Select your institute</option>
                                    </select> -->
                                    
                                    <!-- <label for="college">Department</label>
                                    <select id="department" name="department">
                                        <option value="" disabled selected>Select Department</option>
                                        <option value="Computer Science & Engineering">Computer Science & Engineering</option>
                                        <option value="Electronics & Communication Engineering">Electronics & Communication Engineering</option>
                                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                                        <option value="Civil Engineering">Civil Engineering</option>
                                        <option value="Electrical & Electronics Engineering">Electrical & Electronics Engineering</option>
                                        <option value="Information Technology">Information Technology</option>
                                    </select> -->

                                    <label for="cgpa">CGPA:</label>
                                    <input type="text" id="cgpa" name="cgpa" placeholder="Enter your current CGPA" value="<%= student.cgpa %>">

                                    <label for="backlog">Number of backlogs</label>
                                    <input type="text" name="backlog" id="backlog" value="<%= student.backlog %>">

                                    <label for="ugyear">Year of study:</label>
                                    <select name="ugyear" id="ugyear">
                                        <option value="1" <%= student.ugyear === 1 ? 'selected' : '' %>>1</option>
                                        <option value="2" <%= student.ugyear === 2 ? 'selected' : '' %>>2</option>
                                        <option value="3" <%= student.ugyear === 3 ? 'selected' : '' %>>3</option>
                                        <option value="4" <%= student.ugyear === 4 ? 'selected' : '' %>>4</option>
                                    </select>
<!-- 
                                    <label for="internships">Internships:</label>
                                    <input type="text" id="internships" name="internships" placeholder="Type the name of the companies"> -->

                                    <!-- <label for="softskills">Soft Skills:</label>
                                    <input type="text" id="softSkillsInput" placeholder="Type a skill and press Enter">
                                    <div id="softSkillsContainer" class="skills-container"></div>
                        
                                    <label for="hardSkills">Hard Skills:</label>
                                    <input type="text" id="hardSkillsInput" placeholder="Type a skill and press Enter">
                                    <div id="hardSkillsContainer" class="skills-container"></div> -->

                                    <!-- <label for="photo">Upload Photo:</label>
                                    <input type="file" class="abc" id="photoUpload" name="photo" accept="image/*"> -->

                                    <label for="password">Password:</label>
                                    <div class="passwordGroup">
                                        <input type="password" id="passwordInput" value="<%= student.password %>" placeholder="Enter Password">
                                        <span class="eye-icon">
                                        <i class="fas fa-eye"></i>
                                        </span>
                                    </div>

                                    <label for="confirmPassword">Confirm Password:</label>
                                    <div class="passwordGroup">
                                        <input name="password" type="password" id="confirmPasswordInput" value="<%= student.password %>" placeholder="Confirm Password">
                                        <span class="eye-icon">
                                        <i class="fas fa-eye"></i>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-bottom">
                                <h6 style="color: red;"><%= locals.error %></h6>
                                <div class="submit">
                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                
            </div>

            <script>
       
                // Capitalise input fields
                function capitalizeInput() {
                    var nameInput = document.getElementById('name');
                    var instituteInput = document.getElementById('institute');
        
                    nameInput.value = capitalizeFirstLetterEachWord(nameInput.value);
                    instituteInput.value = capitalizeFirstLetterEachWord(instituteInput.value);
                }
        
                function capitalizeFirstLetterEachWord(str) {
                    return str.replace(/\b\w+\b/g, function(word) {
                        return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                    });
                }
                function onSubmit(){
                    capitalizeInput();
                }
                // PASSWORD TOGGLE EYE ICON
                const eyeIcons = document.querySelectorAll('.eye-icon');
                const passwordInputs = document.querySelectorAll('input[type="password"]');
        
                eyeIcons.forEach(icon => {
                    icon.addEventListener('click', function() {
                        const passwordInput = this.previousElementSibling;
                        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                        passwordInput.setAttribute('type', type);
                        // Toggle icon based on password visibility
                        this.querySelector('i').classList.toggle('fa-eye');
                        this.querySelector('i').classList.toggle('fa-eye-slash');
                    });
                });
                //
            </script>
        </body>
</html>