<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CleverHire</title>
            <link rel="stylesheet" href="/PO/po-listedJobs/po-listedJobs.css">
            <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type="text/css">
            <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>
        <body>
            <div class="topMenu">
                <div class="cleverhire">
                    <p><a href="/index.html">CleverHire</a></p>
                </div>
            
            <!-- NAVIGATION -->
                <nav>
                    <div class="list">
                        <a href="">Placement Officer: REJIN </a>
                        <!-- <a href="">Home</a> -->
                        <!-- <a href="">About US</a> -->
                        <!-- <a href="">Listed Jobs</a> -->
                        <!-- <a href="">Contact</a> -->
                    </div>
                    <div class="soc-icon">
                        <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </nav>
        
            </div>
            <div class="main-body">
                <!-- LEFT SECTION OF PAGE  -->
                <section class="lmenu">
                    <div class="dp">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <div class="lmenu-items-con">
                        <!-- <div class="lmenu-items-icon">
                            <i class="fa-solid fa-chart-line"></i>
                             <i class="fa-solid fa-chart-line"></i>
                            <i class="fa-solid fa-book-open-reader"></i>
                            <i class="fa-solid fa-people-group"></i>
        
                        </div> -->
                        <div class="lmenu-items">
                            <li><a class="d" href="/po/dashboard">Dashboard</a></li>
                            <li><a class="pnj" href="/po/postjobs">Post New Job</a></li>
                            <li><a class=lj" href="/po/listedjobs">Listed Jobs</a></li>
                            <li><a class=sl" href="/po/studentlist">Student List</a></li>
                            <li><a class="l" href="/LOGOUT">Logout</a></li>
                        </div>
                    </div>
                </section>
                <!-- CENTRE SECTION OF PAGE -->
                <div class="cmenu">
                    <section class="content">
                        <div class="headingSection">
                            <h1>Latest Jobs</h1>
                        </div>
                      <div class="jobGridContainer">
                        <div class="jobGrid">
                            <div class="row">
                                <div class="label">
                                    <h6>Company name</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "TCS Careers" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Job Post</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Software Developer" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Qualification</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "B.Tech/M.Tech" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Job Type</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Full Time" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Salary Range</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "6.5-7.5 Lpa" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Base Location</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "All over Kerala" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Application deadline</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "10 April 20242" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Experience required</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "0-2 yrs" %></h6>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="label">
                                    <h6>Job description</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Join TCS Careers as a Software Developer to design, develop and maintain applications  across teams to deliver top-quality code."%></h6>
                                </div>
                            </div>
                            
                            <button>EDIT</button>
                        </div>
                        <div class="jobGrid">
                            <div class="row">
                                <div class="label">
                                    <h6>Company name</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "TCS Careers" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Job Post</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Software Developer" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Qualification</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "B.Tech/M.Tech" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Job Type</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Full Time" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Salary Range</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "6.5-7.5 Lpa" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Base Location</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "All over Kerala" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Application deadline</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "10 April 20242" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Experience required</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "0-2 yrs" %></h6>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="label">
                                    <h6>Job description</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Join TCS Careers as a Software Developer to design, develop and maintain applications  across teams to deliver top-quality code."%></h6>
                                </div>
                            </div>
                            
                            <button>EDIT</button>
                        </div>
                        <div class="jobGrid">
                            <div class="row">
                                <div class="label">
                                    <h6>Company name</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "TCS Careers" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Job Post</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Software Developer" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Qualification</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "B.Tech/M.Tech" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Job Type</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Full Time" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Salary Range</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "6.5-7.5 Lpa" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Base Location</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "All over Kerala" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Application deadline</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "10 April 20242" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Experience required</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "0-2 yrs" %></h6>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="label">
                                    <h6>Job description</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Join TCS Careers as a Software Developer to design, develop and maintain applications  across teams to deliver top-quality code."%></h6>
                                </div>
                            </div>
                            
                            <button>EDIT</button>
                        </div>
                        <div class="jobGrid">
                            <div class="row">
                                <div class="label">
                                    <h6>Company name</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "TCS Careers" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Job Post</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Software Developer" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Qualification</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "B.Tech/M.Tech" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Job Type</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Full Time" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Salary Range</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "6.5-7.5 Lpa" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Base Location</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "All over Kerala" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Application deadline</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "10 April 20242" %></h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="label">
                                    <h6>Experience required</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "0-2 yrs" %></h6>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="label">
                                    <h6>Job description</h6>
                                </div>
                                <div class="value">
                                    <h6>:<%= "Join TCS Careers as a Software Developer to design, develop and maintain applications  across teams to deliver top-quality code."%></h6>
                                </div>
                            </div>
                            
                            <button>EDIT</button>
                        </div>
                      </div>
                    </section>
                </div>
                
            </div>
        </body>
</html>